.dark-panel {
    -fx-background-color: #171717ee;
    -fx-background-radius: 10;

    -fx-border-color: #000;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.big-button {
    -fx-background-color: #2D203D;
    -fx-background-radius: 5;

    -fx-border-color: #000219;
    -fx-border-radius: 5;
    -fx-border-width: 2;

    -fx-text-fill: #fff;
}

.image-label {
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover; /* Stretches to fill the label */
    -fx-background-position: center;
    -fx-padding: 10; /* Adds space so text isn't touching edges */
    -fx-text-fill: white; /* Contrast for the text */
}

.waiting-name {
    -fx-text-fill: #fff;
    -fx-font-size: 16;
}

.player-card {
    -fx-background-color: #171717ee;
    -fx-background-radius: 10;

    -fx-border-color: #000;
    -fx-border-radius: 10;
    -fx-border-width: 2;

    -fx-padding: 5;
}

.player-card:hover {
    -fx-border-color: #f00;
}